@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************/
/* Variables */

:root {
    /* Colors */
    --clr-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --clr-soft-red: hsl(14, 88%, 65%);
    --clr-soft-violet: hsl(273, 75%, 66%);
    --clr-soft-blue: hsl(240, 73%, 65%);
    --clr-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-dark-grayish-blue: hsl(240, 6%, 50%);
    --clr-light-grayish-blue: hsl(240, 5%, 91%);

    /* Fonts */
    --font-kumbh-sans: 'Kumbh Sans', sans-serif;
    --default-size: 13px;

    /* Spaces */
    --space: 1.5rem;
}

@media (min-width: 360px) {
    :root {
        --default-size: 14px;
    }
}

/*********************************/
/* General Styles */

body {
    width: 100%;
    background: linear-gradient(var(--clr-soft-violet), var(--clr-soft-blue)) no-repeat;
    font-family: var(--font-kumbh-sans);
}

/*********************************/
/* Main */

main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-block: 10rem var(--space);
}

@media (min-width: 320px) {
    main {
        padding-inline: 3vw;
    }
}

/* Main Container */
.main-container {
    min-width: 280px;
    display: grid;
    position: relative;
    border-radius: 20px;
    background: url("../images/bg-pattern-mobile.svg") top center / 260px no-repeat #fff;
    padding: 8.5rem var(--space) calc(var(--space) * 2);
    font-size: var(--default-size);
    box-shadow: 0 10px 20px hsla(238, 29%, 16%, 0.3);
}

.img-container img {
    display: block;
    position: absolute;
    width: 260px;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
}

/* FAQs Container */
.faqs-container {
    max-width: 320px;
    height: 100%;
}

.faq-title {
    text-align: center;
    color: var(--clr-very-dark-desaturated-blue);
    font-size: 1.8rem;
    margin-bottom: var(--space);
}

.faq {
    border-bottom: 1px solid var(--clr-light-grayish-blue);
    padding-block: calc(var(--space) / 3);
}

.question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: var(--default-size);
    color: var(--clr-very-dark-desaturated-blue);
    cursor: pointer;
    padding-block: calc(var(--space) / 3);
}

.question:hover {
    color: var(--clr-soft-red);
}

/* .question:focus {
    color: #000;
    font-weight: 700;
} */

.question.active {
    color: #000;
    font-weight: 700;
}

.arrow-icon {
    transition: transform 0.4s ease;
}

/* .question:focus > .arrow-icon {
    transform: rotate(180deg);
} */

.question.active > .arrow-icon {
    transform: rotate(180deg);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.answer > p {
    padding-block: calc(var(--space) / 3);
    line-height: 1.4em;
    color: var(--clr-dark-grayish-blue);
}

/* .question:focus ~ .answer {
    max-height: 30rem;
    transition: max-height 2s ease-out;
} */

.question.active ~ .answer {
    max-height: 30rem;
    transition: max-height 2s ease-out;
}

.box-img {
    display: none;
}

/* Desktop media query */
@media (min-width: 1024px) {
    main {
        padding: 0;
    }

    .main-container {
        /* width: 950px; */
        width: 80%;
        max-width: 950px;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        background: #fff;
    }

    .box-img {
        display: block;
        position: absolute;
        top: 210px;
        left: -93px;
        transition: transform 0.5s ease;
    }

    .box-img.active {
        transform: translateX(-35px);
    }

    .img-container {
        display: block;
        width: 100%;
        min-height: 500px;
        position: relative;
        overflow: hidden;
        background: url("../images/bg-pattern-desktop.svg") bottom -145px right 65px / 950px no-repeat;
    }
    
    .img-container > img {
        width: 500px;
        top: 50%;
        left: -90px;
        transform: translateY(-50%);
    }

    .faqs-container {
        padding-top: 18%;
        overflow: hidden;
        max-height: 500px;
    }

    .faq-title {
        text-align: start;
    }
}

/*********************************/
/* Attribution */

.attribution {
    padding: 2rem 1rem;
    text-align: center;
    color: var(--clr-light-grayish-blue);
}

.attribution a {
    text-decoration: none;
    color: #fff;
}

@media (hover) {
    .attribution a:hover,
    .attribution a:focus-within {
        text-decoration: underline;
    }
}